FLASK_ENV=development
FLASK_DEBUG=1
FLASK_APP={{ package_name }}.interfaces.http.app:create_app

BACKEND_PORT={{ backend_port }}
FRONTEND_PORT={{ frontend_port }}

VITE_API_BASE_URL=http://localhost:{{ backend_port }}
