from {{ package_name }}.{{ module_name }}.application.use_cases import Create{{ entity_name }}, List{{ entity_name }}s
from {{ package_name }}.{{ module_name }}.infrastructure.memory_repository import InMemory{{ entity_name }}Repository


def test_create_and_list() -> None:
    repository = InMemory{{ entity_name }}Repository()

    created = Create{{ entity_name }}(repository).execute(name="Example")
    items = List{{ entity_name }}s(repository).execute()

    assert items == [created]
