from uuid import UUID

from flask import Blueprint, request

from {{ package_name }}.{{ module_name }}.application.commands.create_{{ entity_slug }} import (
    Create{{ entity_name }},
)
from {{ package_name }}.{{ module_name }}.application.queries.{{ entity_slug }}_queries import (
    Get{{ entity_name }},
    List{{ entity_name }}s,
)
from {{ package_name }}.{{ module_name }}.domain.exceptions.{{ entity_slug }}_not_found import (
    {{ entity_name }}NotFoundError,
)
from {{ package_name }}.{{ module_name }}.infrastructure.persistence.in_memory_{{ entity_slug }}_repository import (
    InMemory{{ entity_name }}Repository,
)

{{ module_name }}_bp = Blueprint("{{ module_name }}", __name__)
_repository = InMemory{{ entity_name }}Repository()


@{{ module_name }}_bp.post("/{{ module_name }}")
def create_{{ module_name }}_item():
    data = request.get_json()
    item = Create{{ entity_name }}(_repository).execute(name=data["name"])
    return {"id": str(item.id), "name": item.name}, 201


@{{ module_name }}_bp.get("/{{ module_name }}")
def list_{{ module_name }}_items():
    items = List{{ entity_name }}s(_repository).execute()
    return [{"id": str(i.id), "name": i.name} for i in items], 200


@{{ module_name }}_bp.get("/{{ module_name }}/<uuid:item_id>")
def get_{{ module_name }}_item(item_id: UUID):
    try:
        item = Get{{ entity_name }}(_repository).execute(item_id)
    except {{ entity_name }}NotFoundError:
        return {"error": "not found"}, 404
    return {"id": str(item.id), "name": item.name}, 200
