from {{ package_name }}.{{ module_name }}.domain.entities.{{ entity_slug }} import {{ entity_name }}
from {{ package_name }}.{{ module_name }}.infrastructure.persistence.in_memory_{{ entity_slug }}_repository import (
    InMemory{{ entity_name }}Repository,
)


def test_add_list_and_get() -> None:
    repository = InMemory{{ entity_name }}Repository()
    item = {{ entity_name }}(name="Example")

    repository.add(item)

    assert repository.list() == [item]
    assert repository.get(item.id) == item
