from {{ package_name }}.{{ module_name }}.domain.entities.{{ entity_slug }} import {{ entity_name }}
from {{ package_name }}.{{ module_name }}.domain.repositories.{{ entity_slug }}_repository import (
    {{ entity_name }}Repository,
)


class Create{{ entity_name }}:
    def __init__(self, repository: {{ entity_name }}Repository) -> None:
        self._repository = repository

    def execute(self, name: str) -> {{ entity_name }}:
        item = {{ entity_name }}(name=name)
        self._repository.add(item)
        return item
